# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
*.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
